/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;  
}

/* Style rules for Top section */

.top-section{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 677px;
    background-color: #2d25a0;
}

.tournament{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #ffffff;
}

.watch-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
}

/* Transform effect on text */
.tournament:hover {
    transform:scale(1.2); 
}

.top-section img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
}

/* Style rules for player info section */

.player-area{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-gap: 30px;
    margin-top: 85px;
}

.players{
    display: grid;
    grid-template-columns: 1fr;
    justify-content:center;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    }

.player-info{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6c6c6c;
    width: 300px;
    overflow: hidden;
 }

/* Style-rule for bottom bonus sections */

.bonus-section{
    margin-top: 80px;
    /* display: flex; */
    /* justify-content: center; */
    width: 32%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 18px;
    box-shadow: 3px 3px 10px gray;
    border-radius: 15px;
}

.poll{
    text-align: left;
}


/* style rule for footer section */

 .footer-section{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 158px;
 }

 .footer-section img{
     width: 490px;
 }